
   html, body {
   	height: 100%; 
    margin: 0;
    }

    #body {width: 100%; 
   	height: 100%;
   }


   #overlayDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5); 
    z-index: 99;
   }


   #formDiv {
    background-color: white;
    width: 300px;
    height: 450px;
   }


   #activityInput {
    text-align: center;
   }
    

    #sidebar {
   	width: 100px;
    height:  calc( 100% - 100px);
    float: left;
	  background-color: red;
    display: flex;
    align-items: center; 
    position: fixed;
    overflow-y: auto;

    }


  .sidebarIcon {
    background-color: purple;
    width: 60px;
    height: 60px;
    margin: 20px;
    font-size: 12px;
    text-align: center;
  }



  #logo {
    background-color: yellow;
    width: 100px;
    height: 100px; 
  }


	#header {
   	width: 100%;
   	height: 100px;
   	float: top;
   	background-color: blue
   }


  #page {
   	height: calc( 100% - 100px );
    width: calc(100% - 100px);
    float: right;
   	background-color: green;
    overflow-y: auto;
    overflow-x: hidden; 
    }


#addActivityButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 30px 30px 30px 30px;
  text-decoration: none;
  position: fixed;
    bottom: 30px;
    right: 30px;
}

#addActivityButton:active {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}









    .Table {
        display: table;
        width: 100%;
    }

    .Title {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }

    .Heading {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }

    .Row {
        display: table-row;
        width: calc( 100% - 100px );

    }

    .Cell {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        width:25%;
    }
    .tableHeader {
        width: 100%;
        border: solid;
        border-width: thin; 
        height: 52px; 
        margin: 0px;
    }






